* {
    padding: 0;
    margin: 10;
    box-sizing:content-box;
    scroll-behavior: smooth;
}

body, 
html{
    font-family: "Epilogue", sans-serif;
    background-color: rgba(255, 246, 127, 0.2);
}

.top-navigation{
    display:flex;
    align-items:stretch;
    justify-content: space-around;
    font-size: x-large;
    font-stretch:wider;  
}
.top-navigation img{
    width: 60px;
    
}

.top-navigation-left{
    display: flex;
    align-items:stretch;
    gap: 10rem;
}

.top-navigation-links {
    display: flex;
    gap: 2em;
}

.top-navigation-links a{
text-decoration: none;
color: rgb(0, 0, 0);
display: flex;
gap: 1em;

}
.top-navigation-right{
    display: flex;
    gap: 1em;
    align-items: center;
}

.top-navigation-right a{
    text-decoration: none;
    color: black;
}

.top-navigation-right button {
    border: groove ;
    background-color: rgba(195, 186, 103, 0.935);
    color: rgba(14, 45, 219, 0.968);
    font-weight: bold;
    width: 120px;
    padding: 2em;
    border-radius: 50px;
    cursor: pointer;
    font-family: "Epilogue", sans-serif;
}

.landingpage-body {
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}

.landingpage-body-left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: rgb(43, 63, 152);
    }

.landingpage-body-left h1 {
    font-size: 55px;
    font-weight: bold;
    color: rgb(43, 63, 152);
}

.landingpage-body-left p {
    width: 300px;
    font: size 20px;
    line-height: 32px;
}

.landingpage-body-left button {
    border: groove;
    background-color: rgba(195, 186, 103, 0.935);
    color: rgba(14, 45, 219, 0.968);
    font-weight: bold;
    width: 120px;
    padding: 1em;
    border-radius: 50px;
    cursor: pointer;
}
.landingpage-body-right img {
    width: 125px;
    height: 150px;
}
.landingpage-body-right button {
    border: groove;
    background-color: rgba(195, 186, 103, 0.935);
    color: rgba(14, 45, 219, 0.968);
    font-weight: bold;
    width: 120px;
    padding: 1em;
    border-radius: 50px;
    cursor:pointer;
}
.landingpage-body-right h3 {
    font-size: 25px;
    color: rgb(43, 63, 152);
    cursor: pointer;
    padding: 0.5em;
}
.landingpage-body-right dd {
    font-size: 15px;
    color: rgb(43, 63, 152);
    cursor: pointer;
    padding: 0.5em;
    
}

.landingpage-body-right h4 {
    font-size: 15px;
    color: rgba(43, 63, 152);
    cursor: pointer;
    text-align: justify;
    margin-right: 25mm;
    padding: 1em;
}
.container {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-gap: 5px;
    padding: 100px;
  }
  
.bottom{
        display: flex;
        justify-content: space-around;  
}
.bottom img {
    width: 150px;

}
.bottom button {
    border: groove;
    background-color: rgba(195, 186, 103, 0.935);
    color: rgba(14, 45, 219, 0.968);
    font-weight: bold;
    width: 120px;
    padding: 1em;
    border-radius: 50px;
    cursor: pointer;
    justify-content: center;
}